:root {
    --background: #ebebeb;
  }
  
  button {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    color: #00132c;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 5px 10px;
    position: relative;
    user-select: none;
    touch-action: manipulation;
  }
  
  button:hover,
  .button:active {
    outline: 0;
    color: #00132c;
  }
  
  button:hover {
    background-color:  #158bba;
    cursor: pointer;
  }
  
  button:before {
    background-color: #d5edf6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }
  
  button:hover:before {
    background-color: #158bba;
  }
  
  body {
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
  }
  
.display1{
  text-align: center;
  display: flexbox;
  background-color: white;
  display: flexbox;
  margin: auto;
    border-radius: 5px;
    box-shadow: -1px 7px 16px -4px rgba(64, 64, 64, 0.83);
    -webkit-box-shadow: -1px 7px 16px -4px rgba(101, 101, 101, 0.83);
    -moz-box-shadow: -1px 7px 16px -4px rgba(104, 104, 104, 0.83);
    max-width: 500px;
}


  .display2 {
    background-color: white;
    text-align: center;
    display: flexbox;
    border-radius: 5px;
    box-shadow: -1px 7px 16px -4px rgba(64, 64, 64, 0.83);
    -webkit-box-shadow: -1px 7px 16px -4px rgba(101, 101, 101, 0.83);
    -moz-box-shadow: -1px 7px 16px -4px rgba(104, 104, 104, 0.83);
    max-width: 500px;
    margin: auto;
    margin-top: 5%;

    animation: wobble 40s ease infinite;
  }
  
.bigBox {
  margin: 0 auto;
  height: 40rem;
  background-color: rgba(231, 231, 231, 0.631);
  padding: 1rem;
  width: 40rem;
  border-radius: 2%;
  box-shadow: 0px 3px 5px 0px rgba(153, 153, 153, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(153, 153, 153, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(153, 153, 153, 0.75);
}


  .header {
    text-align: center;
    color: #266db6;
  }
  
  input {
    height: 2.5rem;
    text-align: center;
  }
  
  h2 {
    font-size: 5rem;
  }
  
  span {
    font-size: 30px;
    height: 30px;
    width: 50px;
  }
  
  @media (min-width: 768px) {
    button {
      padding: 10px;
    }
  }

  @keyframes wobble {

    0%,
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }
  
    10% {
      -webkit-transform: translateX(-30px) rotate(-5deg);
      transform: translateX(-30px) rotate(-5deg);
    }
  
    35% {
      -webkit-transform: translateX(calc(30px / 2)) rotate(5deg);
      transform: translateX(calc(30px / 2)) rotate(5deg);
    }
  
    50% {
      -webkit-transform: translateX(calc(-30px / 2)) rotate(calc(-5deg / 1.8));
      transform: translateX(calc(-30px / 2)) rotate(calc(-5deg / 1.8));
    }
  
    60% {
      -webkit-transform: translateX(calc(30px / 3.3)) rotate(calc(5deg / 1));
      transform: translateX(calc(30px / 3.3)) rotate(calc(5deg / 1));
    }
  
    75% {
      -webkit-transform: translateX(calc(-30px / 5.5)) rotate(calc(-5deg / 2));
      transform: translateX(calc(-30px / 5.5)) rotate(calc(-5deg / 2));
    }
  }
  